{% extends 'base.html.twig' %}

{% block body %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">


    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Reservation</h2>
    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        <li>
            Car id {{ car }}
        </li>
        <li>
            {{ reservation_id }}
        </li>
        <li>
        </li>

</div>
{% endblock %}
